<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <div class="col-xs-12 col-sm-4 text-sm-right">
        <a id="db-add-widget" href="#" class="btn btn-link btn-sm"><span class="fa fa-plus"></span> Add Widget</a>
    </div>
</div>

<div class="row">
    <div class="col-xs">
        <canvas id="myChart" height="400" width="400"></canvas>
    </div>
</div>
