<div class="row">
    <div class="col-xs-12 col-sm-12">
        <h1 class="page-header">Shards</h1>

        <p>Shards are arbitrary pieces of data which track the state of a particular item or entity. A shard's value can be used in a workflow for branching (if/then) or as additional data. Shards can be updated via simple web calls (such as those from <a href="https://ifttt.com/">IFTTT</a>). For example, a shard could be "At home", and its value would be toggled "true" or "false". You could then use this in workflows to make decisions, such as "If my front door opens and I am not at home, send me a text."</p>

        <a href="/shards/add" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Shard</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div id="shard-list"></div>
    </div>
</div>
