{{> nav }}
<div id="site-wrap" class="container-fluid">
    <div class="row">
        <section id="main-sidebar" class="col-sm-3 col-md-2"></section>
        <section id="main-content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2"></section>
    </div>
</div>
