<nav class="nav nav-pills nav-stacked">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/admin/configuration/">Configuration</a>
    <!--<a class="nav-link" href="#">Analytics</a>-->
    <!--<a class="nav-link" href="#">Export</a>-->
</nav>

<!--<nav class="nav nav-pills nav-stacked">-->
    <!--<a class="nav-link" href="">Nav item</a>-->
    <!--<a class="nav-link" href="">Nav item again</a>-->
    <!--<a class="nav-link" href="">One more nav</a>-->
    <!--<a class="nav-link" href="">Another nav item</a>-->
    <!--<a class="nav-link" href="">More navigation</a>-->
<!--</nav>-->

<!--<nav class="nav nav-pills nav-stacked">-->
    <!--<a class="nav-link" href="">Nav item again</a>-->
    <!--<a class="nav-link" href="">One more nav</a>-->
    <!--<a class="nav-link" href="">Another nav item</a>-->
<!--</nav>-->
