@import "variables";

@import "../../bower/bootstrap/scss/bootstrap";
@import "bootstrap";

@import "../../bower/font-awesome/scss/font-awesome";

@import "layout";
@import "sidebar";

@import "contexts";
@import "repositories";

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
